body {
	background: #ffffff;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

body, form, div, p, a, img, button, ul, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: "RobotoRegular", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none; 
  font-family: Arial;
  font-size: 12px;
}

input::-moz-focus-inner { 
  border: 0; 
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

*{
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
}

.clear:after {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.text-center {
	text-align: center;
}



.btn-default {
	display: inline-block;
	min-width: 90px;
	padding: 0 20px;
	margin: 0 5px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-shadow: 1px 1px 1px #808080;
	height: 28px;
	line-height: 24px;
	text-align: center;
	background: #6fc5c9;
	border-bottom: 5px solid #61acaf;
}

.btn-default:hover {
	opacity: .8;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

/**********************************/

body{
	//background: url(../img/main-bg.gif);
	background: url(../img/1.png);
	min-height: 100%;
	min-width: 100%;
}

.wrapper-mainer {
	min-height: 100%;
	margin-bottom: -230px;
}

.wrapper-mainer:after {
  content: "";
  display: block;
}

.site-footer, .wrapper-mainer:after {
  height: 230px; 
}


footer {
	//background: orange;
}

.content-wrapper{
	background: #fff;
	margin: 50px auto;
	box-shadow: 2px 2px 5px #E6E4E4, -2px -2px 5px #E6E4E4;
}

.top-line {
	height: 43px;
	line-height: 43px;
	//background: #FCA4DE;
	//background: #F9A790;
	background: rgba(252, 164, 222, 0.67);
}

.client-panel{
	position: relative;
	float: right;
}

.client-panel:hover ul.menu-top {
	display: block;
}

.client-panel p.client-btn {
	cursor: pointer;
	color: #fff;
	font-size: 14px;
}

.client-panel:hover p.client-btn span{
	border: none;
}

p.client-btn span{
	border-bottom: 1px dashed #fff;
}

.functional {
	margin-top: 27px;
}

ul.menu-top {
	display: none;
    background: #fff;
    line-height: 20px;
    list-style: none;
    color: #fff;
    position: absolute;
    z-index: 100;
    box-shadow: 1px 1px 3px #999, 0px 0px 3px #999;
    width: 100%;
}

ul.menu-top:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 75%;
    top: -10px;
    border: 5px solid transparent;
	border-bottom: 5px solid #fff;
}

ul.menu-top li {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

ul.menu-top li a {
	padding: 2px 15px;
	color: #69ADAF;
	display: block;
	text-decoration: none;
}

ul.menu-top li:hover {
	background: #ECECEC;
}


/********************HEADER*****************/

header {
	padding: 20px;
	height: 125px;
/*	background: brown;*/
}

.logo {
	position: relative;
    left: 0;
    top: -9px;
}
menu{
	font-size: 10px;
	margin-top: 20px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	list-style: none;
    margin: 0;
	margin-bottom: 25px;
    padding: 0;
}
menu li{
	
	display: inline;
    padding: 7px 0px 7px 20px;
    border-left: 1px solid #E8E5E4;
    margin-left: 19px;
}

menu li:first-child{
	border: none;
	margin-left: 0;
}

menu li:hover a{
	color:hotpink;
}

menu li a{
	    display: inline-block;
    padding: 0px 0px 0px 0px;
    color: #765f59;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
	box-sizing: border-box
}

.basket-wrap b {
    color: #E98B73;
    font-size: 22px;
    padding-top: 0px;
    padding-right: 0px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    font-weight: normal;
    font-family: 'Times New Roman', serif;
    margin-right: 19px;
    float: left;
    /* margin-top: -4px; */
}



.basket-wrap {
    text-decoration: none;
    line-height: 32px;
    float: right;
    background: #FEE7D1;
    height: 32px;
}

.basket-wrap a{
	text-decoration: none;
	line-height: 20px;
}

span.cart-sum {
	color: #555;
	font-size: 13px;
}

.info-but {
	display: inline-block;
    width: 7px;
    height: 4px;
    float: right;
    padding: 0 0 0px 0px;
    margin: 8px 0 0 7px;
}


.search {
    width: 178px;
    border: none;
    font-size: 12px;
    color: #000;
    height: 28px;
    padding: 0;
    margin: 0;
    outline: none;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-wrap {
	display: inline-block;
	border-radius: 20px 0 0 20px;
	padding: 0 0 0 12px;
	float: left;
    background: #fff;
    border: 2px solid pink;
    border-right: none;
	height: 32px;
	width: 210px;
}

.go-search {
	width: 31px;
	height: 32px;
/*	display: block;*/
	background:url(../img/search.png) -1px -1px pink;
	display: block;
	float: left;
	box-sizing: border-box;
/*	border: 1px solid #DE7D66;*/
	border: none;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
/*	box-shadow: -4px 7px 17px -3px brown;*/
}
.go-search:hover{
	background:url(../img/search.png) -1px -1px hotpink;
	box-shadow: -3px 7px 17px -3px brown;
}
.search-form {
	padding: 0px;
}

.img-face-box {
	padding: 23px;
	height: 383px;
}


.extra-img {
	margin-bottom:10px ;
/*	width: 367px;*/
}


.new {
	height: 43px;
	background: url(../img/new.png);
	width: 295px;
	position: relative;
}

.new p.newsale {
	line-height: 43px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
}

/*******************************************/
ul.menu-cat {
	list-style: none;
	height: 43px;
	background: url(../img/menu2-bg.png);
	position: relative;
	text-align: right;
}

ul.menu-cat li {
	display: inline-block;
}

ul.menu-cat li a {
	display: block;
	line-height: 43px;
	color: #fff;
	font-size: 17px;
	padding: 0 20px;
	text-decoration: none;
}

ul.menu-cat li a:hover {
	background: #C983B1;
}

/******/
.caroosel {
	//height: 50px;
	padding: 30px;
}

/*product*/
.main-products {
    padding: 20px;
    min-height: 500px;
}

.product {
	width: 250px;
	border: 1px solid #E6E4E4;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: box-shadow .25s;
	padding: 10px;
	margin: 0 11px 20px;
	display: inline-block;
	height: 356px;
	float: left;
	position: relative;
}

.product:hover {
	transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.eyestop {
	height: 86px;
	width: 86px;
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;	
}

.eyestop:after {
	content: url(../img/eyestopper.png);
	height: 86px;
	width: 86px;
	position: absolute;
    top: -5px;
    right: -5px;
}

.product-pic {
	height: 230px;
	overflow: hidden;
}

.product-pic img {
	max-width: 100%;
}

.product-name-wrapper {
	height: 59px;
	overflow: hidden;
}

.product-name {
    overflow: hidden;
    height: 64px;
    text-align: center;
    padding: 10px;
    display: table-cell;
    width: 230px;
    vertical-align: middle;
}

.product-name a {
	text-decoration: none;
	color: #AF6195;
	font-size: 16px;
}

.product-name a:hover {
	text-decoration: underline;
}
/*************************************/
.product-pic img {
	max-width: 100%;
	position: relative;
	-webkit-transition: all .5s ease-in;
	transition: all .3s ease-in;
}
.product-pic:hover img{
	-webkit-filter:grayscale(.1);
	filter:grayscale(.1);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.product-pic:after{
	content: "";
	position: absolute;
	height: 89px;
	width: 89px;
	left: 30%;
	top:29%;
	z-index: 20;
	background:url(../img/search1.png) no-repeat 18px 18px / 53px rgb(255, 255, 255);
	border-radius: 50%;
	opacity: .6;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-perspective: 900px;
	perspective: 900px;
	-webkit-transition: all .3s ease-in ;
	transition: all .2s ease-in ;
}

.product-pic:hover:after{
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: all .4s ease-in .1s;
	transition: all .4s ease-in .1s;
}
/*************************************/
.tocart,
.price {
	width: 50%;
	float: left;
	padding: 5px;
}

.tocart a {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-shadow: 1px 1px 1px #808080;
	height: 35px;
	line-height: 32px;
	text-align: center;
	background: #6fc5c9;
	border-bottom: 5px solid #61acaf;
}

.tocart a:hover {
	opacity: .8;
}

.price span {
	display: block;
	height: 35px;
	font: 16px/35px "RobotoRegular", arial, sans-serif;
	padding: 0 20px;
	white-space: nowrap;
	font-weight: bold;
	color: #539395;
}
/************** pagination **************/

#pagination-flickr li{
    border:0; margin:0; padding:0;
    font-size:11px;
    list-style:none;
    
}
#pagination-flickr a{
    border:solid 1px #DDDDDD;
    margin-right:2px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {

    color:#666666;
    display:block;
    float:left;
    font-weight:bold;
    //padding:3px 4px;
    padding: 8px 10px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {

    font-weight:bold;
    border:solid 1px #FFFFFF;
} 
#pagination-flickr .active{

    color:#ff0084;
    font-weight:bold;
    display:block;
    float:left;
   // padding:4px 6px;
    padding: 8px 10px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {

    //color:#0063e3;
    color:#45818C;
    display:block;
    float:left;
    //padding:3px 6px;
    padding: 7px 10px;
    text-decoration:none;
}
#pagination-flickr a:hover{

    border:solid 1px #666666;
}

.block-pagination{
    text-align: center;
    clear: both;
    margin: 20px 0;
}
.block-pagination ul{
    display: inline-flex;
    margin: 0 auto;
}

/*************** footer ****************/
.footer-copy {
	background: #e292c7;

}

.footer-copy p {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #fff;	
    text-shadow: 1px 1px 1px #AF6195;
}

.footer-info {
	background: #FCA4DE;
	height: 180px;	
}

.footer-info p {
	font-size: 14px;
	color: #fff;
	padding: 20px 0;
	text-align: justify;
	text-shadow: 1px 1px 1px #AF6195;
}

.footer-block {
	width: 232px;
	padding: 15px;
}

.footer-block span {
	margin: 0 10px 0 0;
}

.footer-block ul li,
.footer-block {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #AF6195;
}

.footer-block h2 {
	font-size: 18px;
}

.footer-block-first {
	line-height: 24px;
	width: 500px;
}

.footer-block-last {
	width: 175px;
}


.footer-block h2 {
	color: #fff;
	text-shadow: 1px 1px 1px #AF6195;
}

.footer-block ul{
	list-style: none;
}

.footer-block ul li a{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #AF6195;	
	border-bottom: 1px dashed #fff;
}

.footer-block ul li a:hover {
	border-bottom: none;
}

.faa {
	font-size: 24px;
	position: relative;
	top: 3px;
}
/*modal*/
.modal-window { 
	width: 400px;
	background: #fff;
	display: none; 
}

.modal-window .modal-header {
    background: url(../img/new.png);
    border-bottom: 1px solid #6FC5C9;
    padding: 14px 18px;
    position: relative;
}

.modal-window .modal-header h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-shadow: 0 1px 1px rgba(255,255,255,0);
    font-size: 16px;
}

.modal-window .modal-header h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-shadow: 0 1px 1px rgba(255,255,255,0);
}

.btn-close {
	cursor: pointer;
	height: 30px;
	width: 30px;
	background: url(../img/closeButton.png);
	background-size: cover;
	border-radius: 15px;
	display: block;
	position: absolute;
	right: -4px;
	top: -4px;
}

.btn-close:active {
	height: 29px;
	width: 29px;
}

.modal-form {
	padding: 10px 0;
}

.modal-form .form-group {
    padding: 10px 20px;
}

.modal-form .form-group label {
    float: left;
    width: 120px;
    line-height: 28px;
    font-size: 13px;
}

.modal-form .form-group input {
	width: 235px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #CCC;
}

.form-group button {
	float: right;
}

.form-group a {
	margin: 0 5px;
}




/**************************JOHN***************************************/
/*телефоны*/
.phone-box {
	height: 43px;
	float: left;
	width: 738px;
	line-height: 43px;
	border-radius: 20px;
	text-align: center;
	margin-left: -19px;
/*	box-shadow: inset 0px 0px 19px -1px pink;*/
}
.phone-box>span{
	height: 20px;
/*	vertical-align: text-top;*/
	position: relative;
	font-size: 18px;
	padding-left: 48px;
	border-radius: 5px;
	color: #ffffff;
	position: relative;
	margin-left: 15px;
/*	box-shadow: inset 0px 0px 16px -1px silver;*/
}
.phone-box>span:nth-child(1){
	margin: 0;
}
.phone-box>span:nth-of-type(1):before{
	background: url(../img/kyivstar_icon.png) no-repeat 4px -4px / 30px;
	content: "";
	top: 0;
	left: 11px;
	width: 40px;
	height: 24px;
	position: absolute;
}
.phone-box>span:nth-of-type(2):before{
	background: url(../img/mts-icon.png) no-repeat 0px -16px / 44px ;
	content: "";
	top: 0;
	left: 0px;
	width: 90px;
	height: 24px;
	position: absolute;
	border-radius: 6px;
}
.phone-box>span:nth-of-type(3):before{
	background: url(../img/life-icon.png) no-repeat -13px -13px / 79px;
	content: "";
	top: 0px;
	left: 4px;
	width: 40px;
	height: 24px;
	position: absolute;
	border-radius: 6px;
}

/**************************************************/
.list-category {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 20px
}
.list-category>li>a{
	display: block;
	height: 50px;
	width: 220px;
	line-height: 50px;
	text-decoration: none;
	padding-left: 20px;
	box-sizing: border-box;
	margin: 0 0 5px 0;
	background: #6FC5C9;
	border-radius: 0 1px 23px 0;
	font-size: 1.3em;
	color: white;
	font-weight: 600;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.list-category>li>a:before{
	content: "";
	height: 50px;
	width: 36px;
	box-sizing: border-box;
	border-right: 3px solid #FFf;
	position: absolute;
	left: -1px;
	background: hotpink;
	
	border-radius: 5px 0 0px 5px;
}
.list-category>li>a:hover{
	background: hotpink;
	color: white;
	box-shadow: 5px 6px 22px 1px silver;
}
.list-category>li>a:hover  .list-category>li>a:before{
	background: red;
	width: 16px;
}
/*subcategory*/
.list-category .submenu{
	list-style: none;
	width: 207px;
	margin: 0;
	padding: 0;

}

.list-category .submenu a{
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	text-align: center;
	color: white;
	display: block;
	background: pink;
	text-decoration: none;
	font-size: 1.2em;
	border-radius: 10px;
	opacity: 0;
	box-shadow: 5px 1px 10px silver;
	-webkit-transition: height 0.4s ease-in , opacity 1s ease-out;
	transition: height 0.4s ease-in , opacity .4s ease-out;
}
.list-category .submenu>li>a{
	height: 0px;
}

.active-but-menu{
	-webkit-transition: all 0.4s ease-in;
	transition: height 0.4s ease-in .1s, opacity 1s ease-out;
	height:40px !important;
	opacity:1 !important;
	//margin-bottom: 5px;
	margin: 5px 0;
}

.list-category .submenu>li>a:hover{
	background: hotpink;
	-webkit-transition: all .3s ease 0s !important;
	transition: all .3s ease 0s !important;
}
/*************/
.filter-price {
	font-size: 1.3em;
	font-weight: bold;
}

.slider-price {
	margin-top: 15px;
	width: 220px;
}

.pick-size-list {
	list-style: none;
	padding: 0;
	margin:0;
}
.pick-size-list label{
	margin: 0 15px;
	height: 30px;
	line-height: 30px;
display: block;
cursor: pointer;
position: relative;
padding: 0 10px 0 25px;
border-bottom: 1px solid #ddebfd;
/*	position: relative*/
}
.pick-size-list label:before{
	content: "";
height: 14px;
width: 14px;
top: 65%;
left: 0;
margin-top: -10px;
position: absolute;
border-width: 3px;
border-style: solid;
 border-radius:50%;
}
.pick-size-list label:after {
content: "";
top: 50%;
left: 4px;
margin-top: -3px;
position: absolute;
border-width: 3px;
border-style: solid;
opacity:0;
border-radius:50%;
-webkit-transition:all .2s linear;
transition:all .2s linear;
}

.pick-size-box {
	margin-top: 10px;
}

.choose-size {
	font-size: 1.3em;
	color: hotpink;
}

.size-but {
	border: none;
	height: 30px;
	width: 90px;
	font-size: 1.4em;
	color: azure;
	background: #22afb5;
	margin-top: 10px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}
.size-but:hover{
	opacity: .9;
	box-shadow: 6px 10px 50px -4px #898989;
}

.product-info {
	border:2px solid #eee;
	padding: 20px;
}

.product-img-link {
	display: block;
	border: 10px solid #eee;
	box-sizing: border-box;
	padding: 0;
}
.product-img-link img{
	width: 237px;
}

.item-name {
	font-size: 2em;
/*	font-weight:bold;*/
	padding-bottom:15px;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
}

.description-item-text {
	color: #A6A4A4;
    font-weight: bold;
	font-size:1.2em;
	margin-top: 28px;
}

.presence-item {
	font-size: 1.1em;
	font-weight: bold;
}


.presence-box {
	line-height: 40px;
	margin: 0 0 20px;
}

.price-item-box {
	background: #F7F7F7;
    padding: 12px 5px 10px 18px;
    font-size: 22px;
    color: #765F59;
    margin-bottom: 5px;
}

.payment {
	margin-top: 30px;
	height: 28px;
}
.payment label{
	font-weight: bold;
	margin-right: 5px;
}
#count-item{
	width: 40px;
}
.payment .buy-item-but{
	font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    padding: 6px 10px 6px 10px;
    line-height: 22px;
    margin-top: 0px;
/*    float: left;*/
    margin-left: 20px;
	background: pink;
	-webkit-transition: all .4s;
	transition: all .4s;
}
.payment .buy-item-but:hover{
	background: hotpink;
	box-shadow: 4px 5px 30px -1px pink;
}

.col-md-5 {
	
}

.top-orange-line {
	height: 43px;
	width: 1210px;
	margin-left: -35px;
	background: url(../img/menu2-bg.png);
	position: relative;
	display: block;
}
.top-orange-line:before{
	    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 100%;
    border: 10px solid transparent;
    border-top: 10px solid #fea8df;
    border-right: 10px solid #fea8df;
}
.top-orange-line:after{
	    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    right: 0;
    top: 100%;
    border: 10px solid transparent;
    border-top: 10px solid #fea8df;
    border-left: 10px solid #fea8df;
}


.main-menu {
	height: 42px;
	padding: 0 6px;
}
.main-menu a{
	
	height: 42px;
	line-height: 42px;
	padding: 8px 15px;
	font-size: 1.4em;
	color: white;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: 4px solid transparent;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out
}
.main-menu a:hover{
	border-bottom: 4px solid #6FC5C9;
	background: rgba(195, 58, 121, 0.49);
	text-align: center;
}

.reviews-box {
	clear: both;
	padding: 20px 0 0 15px;
	box-sizing: border-box;
}
.reviews-box input[type="submit"]{
	background:#6FC5C9;
	border: none;
	line-height: 37px;
    height: 37px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}
.reviews-box input[type="reset"]{
	background: #6FC5C9;
	border: none;
	line-height: 37px;
    height: 37px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin-left: 5px;
}
.reviews-box input:hover{
	-webkit-transition: all .4s;
	transition: all .4s;
	background: hotpink;
}

.reviews-area {
	height: 80px;
	width: 100%;
	border-radius:20px;
	border: 2px solid #6FC5C9;
	-webkit-transition: all .6s;
	transition: all .6s;
	padding: 15px;
	margin-bottom: 5px;
}
.reviews-area:focus {
	border-color: hotpink;
	height: 150px;
}

.nocomment-text {
	background: #F7F7F7;
	padding: 10px;
	margin: 20px 0 0 0;
	text-align: center;
	color: #765F59;;
}

.comment-user {
	margin-top: 20px; 
}

.info-and-comment {
	margin-top: 20px;
}

.comment-field {
	border-top:1px solid silver;
	margin-top: 10px;
	padding: 10px 0;
	font-size: 1.2em;
}

.name {
	color: hotpink;
	font-weight: bold;
}

.date {
	margin-left: 15px;
	font-style: italic;
	color: #6FC5C9;
}

/*	!!!!!!!!!!!!!!!!!!!!!!Basket-page:!!!!!!!!!!!!!!!!!!!!!!!!!!! 	;*/
.info-basket{
	text-align: center;
	color: #fa5fd0;
	font-size: 24px;
}
.form-basket{
	margin-top: 30px;
}
.form-basket i{
	color: #fa5fd0;
}
.form-basket input:focus{
	color: hotpink;
	border-bottom: 2px solid hotpink;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.cont-fio{
	margin-bottom: 20px;
	height: 30px;
	border:none;
	border-bottom: 2px solid  #61ACAF;;
	color: #61ACAF;
	font-size: 16px;
	font-style: italic;
	padding-left: 17px;
	position: relative;
	width: 90%;
	margin-left: 8px;
}
.cont-phone{
	margin-bottom: 20px;
	border:none;
	border-bottom: 2px solid  #61ACAF;
	color: #61ACAF;
	width: 90%;
	margin-left: 8px;
	height: 30px;
	font-size: 16px;
	font-style: italic;
	padding-left: 17px;
}
.cont-mail{
	height: 30px;
	margin-bottom: 20px;
	border:none;
	border-bottom: 2px solid  #61ACAF;
	color: #61ACAF;
	width: 90%;
	font-size: 16px;
	color: silver;
	font-style: italic;
	padding-left: 17px;
}
.cont-city{
	height: 30px;
	width: 90%;
	border:none;
	border-bottom: 2px solid  #61ACAF;
	color: #61ACAF;
	margin-left: 3px;
	font-size: 16px;
	color: silver;
	font-style: italic;
	padding-left: 17px;
}

.header-basket {
	height: 40px;
	background: #F7F7F7;
	line-height: 40px;
	padding-left: 30px;
/*	font-style: italic;*/
	font-weight: bold;
	font-size: 2em;
	color:black;
	margin: 30px 0;
}
.basket-box {
	border:2px solid #eee;
}

.cart-table {
	
/*	background: azure;*/
}
.cart-table>thead{ /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,247,245,1) 0%,rgba(232,229,249,0.79) 48%,rgba(233,230,249,0.78) 50%,rgba(249,254,255,0.93) 85%,rgba(249,254,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -webkit-linear-gradient(top, rgba(242,247,245,1) 0%, rgba(232,229,249,0.79) 48%, rgba(233,230,249,0.78) 50%, rgba(249,254,255,0.93) 85%, rgba(249,254,255,1) 100%);
background: linear-gradient(to bottom, rgba(242,247,245,1) 0%,rgba(232,229,249,0.79) 48%,rgba(233,230,249,0.78) 50%,rgba(249,254,255,0.93) 85%,rgba(249,254,255,1) 100%);
}
.cart-table>thead td{
/*	height: 30px;*/
	padding-left: 10px;
	box-sizing: border-box;
/*	line-height: 30px;*/
	font-weight: bold;
	border-right: 1px solid #E8E5E4;
	padding: 7px 7px 6px 8px;
	font-size: 12px;
}
.cart-table>tbody td{
	vertical-align: middle;
	border: 1px solid #E8E5E4;
	padding: 7px 7px 6px 8px;
	font-size: 12px;
	border-collapse: collapse;
}

.cart-table>tbody .img {
	text-align: center;
	width: 100px;
	overflow: hidden;
}
.cart-table>tbody .model a{
	color: #E98B73;
	text-decoration: none;
	font-size: 14px;
}
.cart-table>tbody .category{
	color: #E292C7;
	text-decoration: none;
	width: 237px;
	font-size: 14px;
}
.cart-table>tbody .quantity{
	width: 69px;
	text-align: center;
}
.cart-table>tbody .quantity input[type="number"]{
	width: 50px;
	text-align: center;
}
.cart-table>tbody .quantity a{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 5px;
}
.cart-table>tbody .quantity a:hover{
	opacity: .8;
}
.cart-table>tbody .price-item{
	width: 105px;
	color: black;
	font-size: 1.3em;
}
.cart-table>tbody .total-price{
	width: 104px;
	color:#BAAFAC;
	font-size: 1.3em;
	text-align: center;
}
.total-price-ticket{
	float: right;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	position: relative;
	left: -6px;
}
.total-price-ticket>span:nth-child(1){
	font-size: 1.4em;
	font-weight: bold;
	padding: 6px 10px 6px 10px;
}
.total-price-ticket span.out-price{
	color: #fa5f51;
	padding: 6px 0px 6px 10px;
	font-weight: bold;
	font-size: 2em;
}
.total-price-ticket  i{
	color: #fa5f51;
	padding: 6px 10px 6px 0px;
	font-weight: bold;
	font-size: 1.8em;
}

.box-button-trade {
	background: #F7F7F7;
	height: 50px;
	clear: both;
	margin: 32px 0px 0;
}

.basket-contact {
	margin-bottom: 70px;
}

.do-order {
	display: inline-block;
	text-decoration: none;
    padding: 0 20px;
	text-align: center;
	background: #61ACAF;
	line-height: 50px;
	border: none;
	color: white;
	font-size: 1.2em;
	-webkit-transition: all .3s ;
	transition: all .3s ;
	text-transform: uppercase;

}
.do-order:hover{
	background: hotpink;
	box-shadow: inset 0px 0px 65px -15px #61ACAF;
}
.go-shoping:hover{
	background: hotpink;
	box-shadow: inset 0px 0px 65px -15px #61ACAF;
}




.social-but-vk {
	background: url(../img/vkontakte-img.jpg) -58px -33px /236px;
	width: 124px;
	height: 40px;
	display: block;
	float: right;
	border-radius: 8px;
	border: 2px solid transparent;
	box-sizing: border-box;
	-webkit-transition: all .4s;
	transition: all .4s;
}
.social-but-vk:hover {
	border-color: white;
}

.social-but-vk:hover .phone-box{
	border: 20px solid black;
}

/*********call me******/
.call-me {
    position: fixed;
    top: 40%;
    right: -40px;
    width: 40px;
    height: 215px;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
   	background-color: #6FC5C9;
    background-image: url("../img/call-me.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.call-me:hover {
	opacity: .7;
}

.toast-bottom-center {
  top: 20%;
  right: 0;
  width: 100%;
}

.toast-title,
.toast-message {
	color: #fff;
}
#toast-container>div {
	opacity: 1;
	box-shadow: 0 0 12px #000;
}

/*****************my toast******************/
.message-container {
	z-index: 999998;
	position: fixed;
	width: 100%;
	top: 20%;
	display: none;
}

.message {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important;
	background-repeat: no-repeat;
	background-position: 5% 50%;
	margin: auto;
	background-color: #2f96b4;
	color: #fff;
	padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 12px #000;
}

.on {
	display: block;
}

/***************supplier price****************/
.download a{
	font-size: 16px;
	text-decoration: none;
}

.download span{
	border-bottom: 1px dashed #222;
}

.download span:hover{
	border-bottom: none;
}

/*-----------------About us ---------------------*/

.img-aboutus {
	display: block;
	height: auto;
	box-shadow: 0px 7px 29px 9px pink;
	margin-bottom: 30px;
	opacity:0 ;
	-webkit-transition:opacity 1s linear;
	transition:opacity 1s linear;
}

 @font-face {
    font-family: BadScript-Regular; /* Имя шрифта */
    src: url(../fonts/BadScript-Regular.ttf); /* Путь к файлу со шрифтом */
}
.about-us-list{
	list-style: none;
	color: black;
	font-family: BadScript-Regular;
	font-size: 1.5em;
	margin-bottom: 20px;
}


.about-us-title {
	font-size: 3em;
}

.info-ubaut-us {
	font-size: 14px;
	color: #595959;
	letter-spacing: .5px;
	padding-left: 0;
	text-indent: 20px;
	margin-bottom: 10px;
}

.info-ubaut-us-tel {
    font-size: 20px;
    color: #333;
}

.ubaut-us-tel {
    color: #FE29DF;
    font-size: 20px;
    font-weight: 700;
    float: left;
}

.us-phone {
    list-style: none;
    padding-left: 13px;
    font-size: 20px;
    font-style: italic;
    padding-top: 0px;
    float: left;
}
.us-phone li{
    padding: 8px 0px;
}
.us-phone li:first-child{
    padding-top: 0;
}

.link-us-box {
    font-size: 20px;
    padding-left: 10px;
}

.about-us-soc {
    text-align: center;
    font-size: 20px;
    padding-left: 5px;
}

.about-vk {
    transition: .4s linear;
    position: relative;
    top:0px;
    font-size: 19px;
    
}
.about-vk:hover{
    color: hotpink;
    top:-5px;
    text-shadow: 0px 5px 2px hsla(112,10%,10%,.3);
    color: dodgerblue;
}
